<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.test.mapper.MenuBtnMapper">
    <!-- 动态sql -->
    <sql id="columnResult">
            <![CDATA[


                id,
                menu_id,
                btn_code,
                btn_name,
                btn_title,
                description,
                status,
                create_time,
                update_time

        ]]>
        </sql>


    <select id="selectMenuBtn" resultType="MenuBtn">
        SELECT
        <include refid="columnResult"/>
        FROM authority_management.govern_menu_btn
    </select>

    <select id="selectMenuBtnById" resultType="MenuBtn">
        SELECT
        <include refid="columnResult"/>
        FROM authority_management.govern_menu_btn WHERE id=#{id} AND status = '1'
    </select>


    <!--添加菜单信息-->
    <insert id="insertMenuBtn" parameterType="menuBtn" useGeneratedKeys="true" keyProperty="menuBtn.id"
            keyColumn="GENERATED_KEY">
                insert into authority_management.govern_menu_btn(menu_id, btn_code , btn_name ,btn_title,description)
                values (#{menuBtn.menuId}, #{menuBtn.btnCode}, #{menuBtn.btnName}, #{menuBtn.btnTitle},#{menuBtn.description})
        </insert>

    <!-- 根据id修改菜单信息-->
    <update id="updateMenuBtnById">
        update authority_management.govern_menu_btn
        <set>
            id = #{menuBtn.id} ,
            <if test="menuBtn.btnCode != null and menuBtn.btnCode != ''">
                btn_code = #{menuBtn.btnCode},
            </if>
            <if test="menuBtn.btnName != null and menuBtn.btnName != ''">
                btn_name = #{menuBtn.btnName},
            </if>
            <if test="menuBtn.btnTitle != null and menuBtn.btnTitle != ''">
                btn_title = #{menuBtn.btnTitle},
            </if>
            <if test="menuBtn.description != null and menuBtn.btnTitle != ''">
                description = #{menuBtn.description},
            </if>
        </set>
        where id = #{menuBtn.id}
    </update>

    <select id="selectMenuBtnByIdList" resultType="menuBtn">
        SELECT
        <include refid="columnResult"/>
        FROM authority_management.govern_menu_btn where id in
        <foreach collection="list" item="item" index="index" open="(" close=")" separator=",">
            #{item}
        </foreach>
        AND status = '1'
    </select>

    <select id="selectMenuBtnByMenuId" resultType="menuBtn">
        SELECT
        <include refid="columnResult"/>
        FROM authority_management.govern_menu_btn where menu_id = #{menuId}    AND status = '1'
    </select>

    <update id="updateMenuBtnStatusById">
        UPDATE authority_management.govern_menu_btn SET status=#{status} WHERE id=#{menuBtnId}
    </update>

</mapper>