<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.test.mapper.OperationBtnMapper">
    <!-- 动态sql -->
    <sql id="columnResult">
            <![CDATA[


                id,
                menu_id,
                btn_code,
                btn_name,
                btn_title,
                description,
                create_time,
                update_time

        ]]>
        </sql>


    <select id="selectOperationBtn" resultType="operationBtn">
        SELECT
        <include refid="columnResult"/>
        FROM authority_management.govern_operation_btn
    </select>

    <select id="selectOperationBtnById" resultType="operationBtn">
        SELECT
        <include refid="columnResult"/>
        FROM authority_management.govern_operation_btn WHERE id=#{id}
    </select>


    <!--添加菜单信息-->
    <insert id="insertOperationBtn" parameterType="operationBtn" useGeneratedKeys="true" keyProperty="operationBtn.id"
            keyColumn="GENERATED_KEY">
                insert into authority_management.govern_operation_btn(menu_id, btn_code , btn_name ,btn_title,description)
                values (#{operationBtn.menuId}, #{operationBtn.btnCode}, #{operationBtn.btnName}, #{operationBtn.btnTitle},#{operationBtn.description})
        </insert>

    <!--&lt;!&ndash; 根据id修改菜单信息&ndash;&gt;-->
    <!--<update id="updateMenuById">-->
        <!--update authority_management.govern_menu-->
        <!--<set>-->
            <!--id = #{menu.id} ,-->
            <!--<if test="menu.menuName != null and menu.menuName != ''">-->
                <!--menu_name = #{menu.menuName},-->
            <!--</if>-->
            <!--<if test="menu.menuPath != null and menu.menuPath != ''">-->
                <!--menu_path = #{menu.menuPath},-->
            <!--</if>-->
            <!--<if test="menu.menuSort != 0">-->
                <!--menu_sort = #{menu.menuSort},-->
            <!--</if>-->
            <!--<if test="menu.parentId != null">-->
                <!--parent_id = #{menu.parentId},-->
            <!--</if>-->
            <!--<if test="menu.updateTime != null">-->
                <!--update_time = #{menu.updateTime},-->
            <!--</if>-->
        <!--</set>-->
        <!--where id = #{menu.id}-->
    <!--</update>-->

    <select id="selectOperationBtnByIdList" resultType="operationBtn" >
        SELECT <include refid="columnResult"/> FROM authority_management.govern_operation_btn where id in
        <foreach collection="list" item="item" index="index" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </select>

    <select id="selectOperationBtnByMenuId" resultType="operationBtn">
        SELECT
        <include refid="columnResult"/>
        FROM authority_management.govern_operation_btn where menu_id = #{menuId}
    </select>

    <!--<select id="selectMenuList" resultType="menu">-->
        <!--SELECT-->
        <!--<include refid="columnResult"/>-->
        <!--FROM authority_management.govern_menu order by menu_sort-->
    <!--</select>-->

    <!--<select id="selectParentName" resultType="String">-->
                <!--SELECT menu_name-->
                <!--FROM authority_management.govern_menu where id = #{parentId} order by menu_sort-->
        <!--</select>-->

    <!--<select id="selectMenuByMenuName" resultType="menu">-->
                <!--SELECT id FROM authority_management.govern_menu WHERE menu_name=#{menuName}-->
        <!--</select>-->


    <!--<select id="selectMenuByParentIdList" resultType="menu">-->

        <!--SELECT-->
        <!--<include refid="columnResult"/>-->
        <!--FROM authority_management.govern_menu WHERE parent_id =ANY(SELECT-->
        <!--parent_id-->
        <!--FROM authority_management.govern_menu WHERE parent_id = #{parentId}) AND parent_id != 0 order by menu_sort-->

    <!--</select>-->

</mapper>