<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.test.mapper.RoleMapper">

        <!-- 动态sql -->
        <sql id="columnResult">
            <![CDATA[


                id,
                role_name,
                remark,
                status,
                create_time,
                update_time

            ]]>
        </sql>

        <select id="selectRoleIdList" resultType="int">
                SELECT <include refid="columnResult"/> FROM authority_management.govern_role where id IN
                <foreach collection="list" item="id" index="index" open="(" close=")" separator=",">
                    #{id}
                </foreach>
            and status='1'
        </select>


        <select id="selectRoleById" resultType="role" parameterType="java.lang.Long">
                SELECT
                <include refid="columnResult"/>
                from authority_management.govern_role WHERE id=#{id} and status='1'
        </select>


        <select id="selectRole" resultType="role">
                SELECT
                <include refid="columnResult"/>
                from authority_management.govern_role WHERE status='1'
        </select>


        <insert id="insertRole" parameterType="role" useGeneratedKeys="true" keyProperty="role.id" keyColumn="GENERATED_KEY">
                INSERT into authority_management.govern_role(role_name,remark,status)
                VALUES (#{role.roleName},#{role.remark},1)
        </insert>


        <!--<update id="deleteRoleById">-->
                <!--UPDATE noa_govern_center.govern_role SET status='2' WHERE id=#{roleId}-->
        <!--</update>-->

        <update id="updateRoleById">
                UPDATE authority_management.govern_role
                <set>
                    <if test="role.roleName!=null and role.roleName!=''">
                        role_name=#{role.roleName},
                    </if>
                    <if test="role.remark!=null and role.remark!=''">
                        remark=#{role.remark},
                    </if>
                    <if test="role.status!=null and role.status!=0">
                        status=#{role.status},
                    </if>
                    <if test="role.updateTime != null">
                        update_time=#{role.updateTime},
                    </if>
                </set>
                WHERE id=#{role.id}
        </update>
</mapper>