<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.test.mapper.RoleMenuBtnMapper">

    <!-- 动态sql -->
    <sql id="columnResult">
            <![CDATA[

                id,
                role_id,
                menu_btn_id,
                status

        ]]>
        </sql>


    <select id="selectRoleMenuBtnByRoleId" resultType="java.lang.Long">
        SELECT DISTINCT menu_btn_id FROM authority_management.govern_role_menu_btn where role_id in
        <foreach collection="list" item="item" index="index" open="(" close=")" separator=",">
            #{item}
        </foreach>
        AND status = '1'
    </select>


    <insert id="insertRoleMenuBtn" parameterType="roleMenuBtn">
                INSERT INTO authority_management.govern_role_menu_btn(role_id,menu_btn_id)
                VALUES
                (#{roleMenuBtn.roleId},#{roleMenuBtn.menuBtnId})
        </insert>

    <update id="updateRoleMenuBtnStatusById">
        UPDATE authority_management.govern_role_menu_btn SET status= #{status} WHERE id=#{roleMenuBtnId}
    </update>


</mapper>